<!DOCTYPE html>
<html lang="fr">
<head>
	<title>{% block title %}{% endblock %}- {{ site_name }}</title>
	<meta charset="UTF-8">
	<meta name="identifier-url" content="<!-- URL site -->" />
	<meta name="description" content="<!-- Description -->" />
	<meta name="language" content="fr" />
	<meta name="robots" content="all" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	{% stylesheets filter='cssrewrite'
	'css/bootstrap.min.css'
	'css/bootstrap-glyphicons.css'%}
	<link rel="stylesheet" href="{{ asset_url }}" type="text/css" />
	{% endstylesheets %}
	<link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
</head>
<body>
	<header class="navbar navbar-inverse">
		<div class="container">
			<a class="navbar-brand" href="{{ path('site_home') }}">{{ site_name }}</a>

			<form class="navbar-form pull-right">
				<input type="text" class="form-control" style="width: 150px;" placeholder="Pseudo">
				<input type="password" class="form-control" style="width: 150px;" placeholder="Mot de passe">
				<button type="submit" class="btn btn-default">Submit</button>
			</form>
		</div>
	</header>

	<div class="container">
		{% block body %}


		{% endblock %}
	</div>

	<hr />

	<footer>
		<div class="container text-center">
			Powered by Soon-Core <br />
			Copyright © 2013 FTC56. All rights reserved>
		</div>
	</footer>

	{% javascripts
	'js/*' %}
	<script type="text/javascript" src="{{ asset_url }}"></script>
	{% endjavascripts %}
</body>
</html>