{% extends 'FTC56BlogBundle::layout.html.twig' %}

{% block title %}Accueil {{ parent() }}{% endblock %}

{% block blog_body %}
	{% for article in list_articles %}
		<div class="well well-small">
			<h2 class='blog-header'><a href="{{ path('blog_view', { 'id': article.id }) }}">{{ article.title }}</a>
				<small>
					<span class="glyphicon glyphicon-pencil"></span> Ecrit le <time
							datetime="{{ article.creation|date('d/m/y \\à H:i:s') }}">{{ article.creation|date('d/m/Y') }}</time>
					                            par <a href="{{ path('user_view', {'name': article.author}) }}">{{ article.author }}</a>.
					{% if article.modification %}<i class="icon-edit"></i> Modifié le <time
							datetime="{{ article.modification|date('d/m/y \\à H:i:s') }}">{{ article.modification|date('d/m/Y') }}</time>.{% endif %}
				</small>
			</h2>

			<p class="">
				{{ article.content }}
			</p>

			<p class="text-right"><a href="{{ path('blog_view', { 'id': article.id}) }}#comment">Afficher les commentaires ({{ article.comment|length }})</a></p>
		</div>
		<hr />

	{% endfor %}

{% endblock %}


