{% extends 'FTC56BlogBundle::layout.html.twig' %}

{% block title %}{{ article.title }} {{ parent() }}{% endblock %}

{% block blog_body %}
	<h2 class="page-header">{{ article.title }}</h2>
	<div class="muted text-right">
		<span class="glyphicon glyphicon-pencil"></span> Ecrit le <time
				datetime="{{ article.creation|date('Y/m/d') }}">{{ article.creation|date('d/m/y \\à H:i:s') }}</time>
		                                                 par <a href="{{ path('user_view', {'name': article.author}) }}">{{ article.author }}</a>.
		{% if article.modification %}<span class="glyphicon glyphicon-edit"></span> Modifié le <time
				datetime="{{ article.modification|date('Y/m/d') }}">{{ article.modification|date('d/m/y \\à H:i:s') }}</time>.{% endif %}
	</div>

	<p class="text-jutify">
		{{ article.content }}
	</p>

	<p><a href="{{ path('blog_index') }}">Retourner à l'accueil</a></p>

	<div class="row">
	{% if is_granted('ROLE_AUTHOR') %}
	<div class="col-md-4">
		<div class="btn-group btn-group-justified">
			<a href="{{ path('blog_edit', { 'id': article.id }) }}" class="btn btn-warning"><span
						class="glyphicon glyphicon-edit"></span> Editer</a>
			<a href="{{ path('blog_delete', { 'id': article.id }) }}" class="btn btn-danger"><span
						class="glyphicon glyphicon-remove-sign"></span> Supprimer</a>
		</div>
	</div>

		<ul class="list-inline col-md-8 well well-small">{% else %}
		<ul class="list-inline col-md-12 well well-small">{% endif %}
			{% if article.categories.count > 0 %}
                    <li>Catégoreis :</li>
			    {% for category in article.categories %}
				    <li><a href="{{ path('categories_view', { 'id': category.id }) }}">{{ category.name }}</a></li>
			    {% endfor %}
			{% else %}
				<span>Cet article ne possède pas de catégories</span>
			{% endif %}
		</ul>
	</div>

	<hr />

	<h3 class="text-center" id="comment">Commentaires</h3>
	{% if article.comment|length > 0 %}
		{% for comment in article.comment %}
		{% endfor %}
	{% else %}
		<p class="alert alert-info text-center">Il n'y a pas de commentaire pour le moment !</p>
	{% endif %}

{% endblock %}