{% extends 'FTC56BlogBundle::base.html.twig' %}

{% block blog_title %}{{ parent() }}{% endblock %}

{% block blog_body %}
	<h2 class="blog-header">{{ article.title }}</h2>
	<div class="muted text-right">
		<i class="icon-pencil"></i> Ecrit le <time
				datetime="{{ article.creation|date('Y/m/d') }}">{{ article.creation|date('d/m/Y') }}</time>
		                            par {{ article.author }}.
		{% if article.modification %}<i class="icon-edit"></i> Modifié le <time
				datetime="{{ article.modification|date('Y/m/d') }}">{{ article.modification|date('d/m/Y') }}</time>.{% endif %}
	</div>

	<p class="text-jutify">
		{{ article.content }}
	</p>

	<p><a href="{{ path('blog_index') }}">Retourner à l'accueil</a></p>

	<div class="row-fluid">
		{#{% if app.security.roles == 'ROLES_ADMIN' %}#}
		<div class="btn-group span4">
			<a class="btn btn-inverse"><i class="icon-edit icon-white"></i> Editer</a>
			<a class="btn btn-inverse"><i class="icon-remove-sign icon-white"></i> Supprimer</a>
		</div>

		<ul class="inline span8 well well-small">{#{% else %}
		<ul class="inline span12 well well-small">{% endif %}#}
			<li>Catégories :</li>
			{% if article.categories.count > 0 %}
				{% for category in article.categories %}
					<li><a href="{{ path('categories_view', { 'id': category.id }) }}">{{ category.name }}</a></li>
				{% endfor %}
			{% endif %}
		</ul>
	</div>

	<hr />

	<h3 class="text-center" id="comment">Commentaires</h3>
	<p class="alert alert-info">Prochainement !</p>

{% endblock %}