{% extends "FTC56ForumBundle::layout.html.twig" %}

{% block title %}{{ forum.name }}{{ parent() }}{% endblock %}

{% block forum_body %}
	<h1 class="page-header">{{ forum.name }}</h1>
	{% if sub_forums|length > 0 %}
		<table class="table table-striped text-center">
			<thead>
				<tr>
					<td>Forum</td>
					<td>Statistiques</td>
					<td>Dernier message</td>
				</tr>
			</thead>
			<tbody>
				{% for sub_forum in sub_forums %}
					{% if sub_forum.lastPost.authorIdentity is null %}
						{% set author = sub_forum.lastPost.author.username %}
					{% else %}
						{% set author = sub_forum.lastPost.authoridentity.name %}
					{% endif %}
					<tr>
						<td class="text-left"><a href="{{ path('forum_forum', {'id': sub_forum.id}) }}">{{ sub_forum.name }}</a></td>
						<td>Il y a {{ sub_forum.messages }} messages et {{ sub_forum.topics }} sujets dans ce forum.</td>
						<td>{% if sub_forum.lastPost|length == 0 %}Aucuns messages dans ce forum.{% else %}Dernier message par <a href="{{ path('user_view', {'id': sub_forum.lastPost.author.id }) }}">{{ author }}</a> le {{ sub_forum.lastPost.creation|date('d/m/Y \\à H:i:s') }}{% endif %}</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	{% else %}
		<div class="alert alert-info">Il n'y a pas de sous-forums.</div>
	{% endif %}

	<hr>

	{% if topics|length > 0 %}
		<table class="table table-striped text-center">
			<thead>
				<tr>
					<td>Forum</td>
					<td>Auteur</td>
					<td>Statistiques</td>
					<td>Dernier message</td>
				</tr>
			</thead>
			<tbody>
				{% for topic in topics %}
					{% if topic.lastPost.authorIdentity is null %}
						{% set author = topic.lastPost.author.username %}
					{% else %}
						{% set author = topic.lastPost.authoridentity.name %}
					{% endif %}
					<tr>
						<td class="text-left"><a href="{{ path('forum_topic_view', {'id': topic.id}) }}">{{ topic.name }}</a></td>
						<td>Topic créé par <a href="{{ path('user_view', {'id': topic.author.id }) }}">{{ topic.author.username }}</a></td>
						<td>Il y a {{ topic.messages }} messages dans ce topic.</td>
						<td>{% if topic.lastPost|length == 0 %}Aucuns messages dans ce topic.{% else %}Dernier message par <a href="{{ path('user_view', {'id': topic.lastPost.author.id }) }}">{{ author }}</a> le {{ topic.lastPost.creation|date('d/m/Y \\à H:i:s') }}{% endif %}</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	{% else %}
		<div class="alert alert-info">Il n'y a pas de messages dans ce forum.</div>
	{% endif %}
{% endblock %}